.about__container {
  display: flex;
}

.about__info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 97px;
  padding: 64px 80px;
  width: 100%;
  max-width: 785px;
  margin-left: -136px;
  height: 455px;
  background-image: url(../../img/mountains.png);
  border-radius: 5px;
}
.about__container::before {
  display: block;
  content: "";
  max-width: 490px;
  height: 505px;
  width: 100%;
  background: url(../../img/gates.png) center center / cover no-repeat;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  width: 502px;
  height: 135px;
  margin-top: 37px;
  margin-bottom: 43px;
}
