.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 151px;
  max-width: 1141px;
}
.footer__item {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-right: 66px;
}
.social__item {
  margin-right: 10px;
  filter: brightness(40%);
}
.social__item:hover {
  filter: brightness(100%);
}
.free_call {
  color: #9a9a9a;
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 11px;
}
.footer--main {
  width: 100%;
  margin-top: 53px;
  margin-bottom: 57px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
