.title__news {
  margin-bottom: 51px;
}

.news__list {
  display: flex;
  justify-content: space-between;
}
.news__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 25px);
  min-width: 557px;
  min-height: 394px;
  background-image: url(/air-asia/img/plain.png);
}

.news__item:nth-child(2) {
  background-image: url(/air-asia/img/Surfer.png);
}
.news__content {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  width: 100%;
}

.news_date {
  font-size: 14px;
  margin-top: 257px;
  margin-bottom: 78px;

  margin-bottom: 12.5px;
}
