.tours__header {
  margin-bottom: 51px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.tours__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 127px;
}
.tours__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 18px);
  background: #fff;
  min-height: 449px;
  border-radius: 5px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}
.tours__item:last-child {
  margin-right: 0;
}
.tours__features {
  display: flex;
}
.tours__feature {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.tours__header--icon:after {
  content: url(/air-asia/img/flame.png);
  margin: 12px;
}

.tours__feature-text {
  margin-right: 28px;
}

.tours__feature-icon {
  margin-right: 10px;
}

.theme--dark {
  color: black;
}
.tours__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 22px;
  padding-top: 33px;
  padding-bottom: 24px;
}
.tours__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.tours__title {
  font-weight: 700;
  font-size: 24px;
}
.tours__content .button {
  width: 135px;
  height: 55px;
}
