h1 {
  padding-top: 196px;
}
.hello {
  height: 100%;
  width: 100%;
  position: relative;
}

.hello__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  width: 511px;
}

.hello__text {
  margin-top: 27px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 18px;
}
.tours {
  /* position: absolute; */
  top: 775px;
}
.tours__item {
  display: inline-block;
  width: 362px;
  height: 449px;
  background-color: #fff;
  margin-top: 51px;
  margin-right: 23px;
  border-radius: 5px;
}
.tours__item:last-child {
  margin-right: 0;
}

.tours__feature {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #666666;
  display: inline-block;
  /* margin-left: 28px; */
}

.title--icon {
  margin-top: 246px;
}
.title--icon:after {
  content: url(/../img/flame.png);
  margin: 3px;
}
.tours__feature-icon,
.tours__feature-text {
  display: inline;
}
.tours__feature-text {
  margin-right: 28px;
  margin-top: 21px;
}
.theme--dark {
  color: black;
}
.tours__content {
  margin-left: 22px;
  margin-top: 33px;
}
.tours__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 23px;
  margin-bottom: 23px;
}
.tours__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}
