.wellcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: url(../../img/bg_wellcome.png) center bottom / cover no-repeat;
}
.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.central__content {
  background: url(../../img/shades.png);
  min-width: 591px;
  min-height: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.central {
  opacity: 0;
  animation: zoom 0.81s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  from {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn--low-bright:hover {
  background: #da0100;
}
